@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style: none;
}

body,
html {
  overflow-x: hidden;
}

.page {
  height: calc(100vh - 66px);
}
