@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --el-color-dark: #2b3945;
  --text-color-dark: hsl(200, 15%, 8%);
  --el-color-light: hsl(0, 0%, 100%);
  --text-color-light: hsl(200, 15%, 8%);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #202c37;
}

ul {
  list-style: none;
}

body,
html {
  overflow-x: hidden;
}

.responsive-image {
  width: 100%;
  height: auto;
}
