@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --el-color-dark: hsl(209, 23%, 22%);
  --text-color-dark: hsl(200, 15%, 8%);
  --el-color-light: hsl(0, 0%, 100%);
  --text-color-light: hsl(200, 15%, 8%);
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(207, 26%, 17%);
}
ul {
  list-style: none;
}
body,
html {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 10px auto;
}

body.light {
  background-color: hsl(0, 0%, 98%);
}

body.light .input {
  color: hsl(0, 0%, 52%);
  background-color: var(--el-color-light);
}

body.light .input input {
  color: hsl(0, 0%, 52%);
}

body.light .input svg {
  fill: hsl(0, 0%, 52%);
}

a {
  text-decoration: none;
}

.back-to-top {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  position: fixed;
  right: 14px;
  bottom: 17px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  background-color: var(--el-color-dark);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top.show {
  opacity: 1;
}
