.back {
  background-color: var(--el-color-dark);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  font-weight: 300;
  border-radius: 6px;
  margin: 60px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  width: fit-content;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.image-side {
  width: 50%;
}
.image-side img {
  max-width: 100%;
  max-height: 100%;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.details .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.details .body h1 {
  color: white;
  margin-bottom: 20px;
}

.details .body ul li {
  color: white;
  margin-bottom: 10px;
}

.details .right ul:last-child {
  margin-top: 30px;
}

.footer {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.border-countries li {
  background-color: var(--el-color-dark);
  padding: 6px 16px;
  box-shadow: 0 0 4px #0f1419;
}

body.light .back {
  background-color: var(--el-color-light);
  color: var(--text-color-light);
  box-shadow: 0 0 3px rgb(43, 43, 43);
}

body.light .details .body ul li {
  color: var(--text-color-light);
}
body.light .details .body h1 {
  color: var(--text-color-light);
}
body.light .footer {
  color: var(--text-color-light);
  font-weight: 600;
}
body.light .border-countries li {
  background-color: white;
}

.container-d {
  width: 100%;
  padding: 0 30px;
}

@media (max-width: 790px) {
  .details-container {
    flex-direction: column;
  }
  .image-side {
    width: 80%;
    align-items: flex-start;
  }
}


@media (max-width: 442px) {
  .body {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .border-countries li {
    font-size: 10px;
  }
}

@media (max-width: 364px) {
  .footer {
    flex-direction: column !important;
  }
}