.filter-container {
  margin-top: 30px;
}
.input {
  background-color: var(--el-color-dark);
  width: 400px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgb(39, 39, 39);
}

.input * {
  color: white;
}

.input input {
  border: none;
  outline: none;
  background: none;
  flex-basis: 80%;
  height: 100%;
  font-size: 14px;
}

.input svg {
  flex-basis: 20%;
}

@media (max-width: 473px) {
  .filter-container {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .filter-container .input {
    width: 100%;
  }
}
